#define SECRET_NETWORK_SSID "NETWORK_NAME"
#define SECRET_NETWORK_PASS "NETWORK_PASSWORD"
#define SECRET_DISCORD_DOMAIN "discord.com"
#define SECRET_DISCORD_WEBHOOK "/api/webhooks/#####################/######################################"
#define SECRET_DISCORD_CERT "-----BEGIN CERTIFICATE-----\n" \
                     "MIIEGQQVDYQCwsQMaBDAFUQAB0w9GikhqkgBNATuAAgAEIgABIwAg+lACCzdDwJJ\n" \
                     "RTEIwISM0NXdyRlclJWeDpwELQQVDYQEwMRMlJ3btlGdsFmQJMhCEU1AGABMSAYD\n" \
                     "VQQMwYDN4EjMxUDMwATDX4BM092bSBCdzVncUJXZil3QgUmcv1Wa0xWYClxEDFoX\n" \
                     "DTIbpRHbhJUCToABVNgBQAjExUUSCMhBEU1AGkAMLEjWwoFMwkTNzIjMxUDM1W9y\n" \
                     "ZTEY5NEIlJ3btlGdsFmQZMxAEU1AGACMiEDdzVncUJXZil3QKMxCEU1AGEBMTmVy\n" \
                     "VHJuEMKABEggCoQACCDAPEggDAQBBEQANcvhIZoKJYQDwISACCDdv9mUgQ3c1yKr\n" \
                     "mD1X6CZymrV51Cni4eiVgLGw41uOKymaZN+hXe2wCQVt2yguzmKiYv60iNoS6zjr\n" \
                     "mD16SoNi06vYiKmzugy2tVQCw2eXh+NZamyKOu14wGLgVie4inC15VrmyZC6Xzjr\n" \
                     "mpYwAL9EIJERoFfusjv13p3MKnd4ausBKLBwPCPcwV9GC/yESl/9VzwP4eWqcqSu\n" \
                     "XmDO5zbatXx/f5Dhe56AUvu6FOveGIbX9xAkgPWp1PGmYkF1Ck1BdTL/FYqt+TZy\n" \
                     "dc9v21IewHDGo17MjR3lrpjhudO76Ycvpk5BcFCmk8xPTNSyl3TusAZyz3kU3/ye\n" \
                     "jl0eGaDVIoPrMj1RCCTWdWOFEYBBO0RVDYQHwMEMFNaAAEwACkjGnwNkNdqhqzq1\n" \
                     "BE3SGqSCG0AMGEgADQAB/HQAP0RVDYgDwMQAC8fABYAMIQw/BEwEdU1AGIBMwIb3\n" \
                     "DQEe2mSKav+FQQ64wcdL9T299OAhlcyT72NoFIEaR9G5O2FDFCQABI4AAUQBBT92\n" \
                     "9hk3t/UE3YMO+NKzs/EQG2YJMku18BDvF3rCVfhiSoWYE0LchRNpYlvCQg7ITWgx\n" \
                     "jkzo/ihexka1EkzNShPtCA8DjGRZ++X/Fgbh5BMhcZx/w9nGIdgX15r70FwsSCr0\n" \
                     "EpnUyf7G76ynyDvz3+h5k17YasWbw1fbLRBCO5JpI7Cfeicte2Z9exz4CW0o3Ihz\n" \
                     "ksLi4xaNmjICq44Y3ekQEe5+NauQrz4wlHrQMz2nZQ/1/I6eYs9HRCwBXbsdtTLS\n" \
                     "R9IYqLEJDnRHBeO/Vzj716haywdg+DtL4zmp\n" \
                     "-----END CERTIFICATE-----\n"
